.node{
    width: 28px;
    height: 30px;
    outline: 1px solid lightblue;
}

.node-start{
    background-image: url("./images/initial.png");
    background-size:contain;
}
.node-end{
    background-image: url("./images/destination.png");
    background-size: contain;
}


.node-visited{
    animation-name: visitednode;
    animation-duration: 2s;
}
.node-visited {
    animation-name: nodevisitedAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    animation-play-state: running;
  }

  @keyframes nodevisitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(96, 75, 99, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color:rgba(123, 42, 143, 0.75);
    }
  
    75% {
      transform: scale(1.3);
      background-color:rgba(123, 42, 143, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color:rgba(123, 42, 143, 0.75);
      outline-color:rgba(109, 23, 158, 0.75);
    }
  }

.shortest-path {
    border-color: yellow;
    animation-name: shortestPath;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
      outline-color:  rgb(255, 254, 106);;
    }
  
    50% {
      transform: scale(1.1);
      background-color: rgba(255, 255, 6, 0.979);
      outline-color:  rgba(255, 255, 6, 0.979);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(255, 255, 6, 1);
      outline-color: rgba(255, 255, 6, 1);
    }
  }

  .node-wall{
    animation-name: wall;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
  
    }

@keyframes wall{
0%{
    transform: scale(1.2);
    background-color: black;
    outline-color:black;
}

100%{
    transform: scale(1);
    background-color: black;
    outline-color:black;

}
}



